@model IEnumerable<Product>


<h2>Products</h2>


<div class="container mt-5">
    <div class="btn-container">
        <a href="/Product/InsertProduct/" class="btn btn-primary">Create a New Product</a>
    </div>
    <div class="my-3">
        <input type="text" style="width:300px;" class="form-control mb-2" id="filterProductId" placeholder="Filter by Product ID" />
        <input type="text" style="width:300px;" class="form-control mb-2" id="filterName" placeholder="Filter by Product Name" />
        <input type="text" style="width:300px;" class="form-control mb-2" id="filterCategory" placeholder="Filter by Category ID" />
    </div>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category ID</th>
            <th>On Sale</th>
            <th>Stock Level</th>
        </tr>
    </thead>
    <tbody class="products-hidden">
        @foreach (var product in Model)
        {
            <tr data-href="/Product/ViewProduct/@product.ProductID" class="clickable-row">

                <td>@product.ProductID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CategoryID</td>
                <td>@product.OnSale</td>
                <td>@product.StockLevel</td>

            </tr>
        }
    </tbody>
</table>